# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#data
data/

# Virtual environment
venv/

# macOS system files
.DS_Store

# VSCode settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env
